carrier-order {
   .delivery-section{
        border-color: steelblue;
        border-style: solid;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        font-size:large;
        .list-ios{
            margin:0px;
        }
    } 

}
