<!-- Generated template for the OrderComponent component -->
<!--
    <ion-row>
      <ion-col text-right>  <button ion-button (click)="orderCancel()">입력취소</button></ion-col>
    </ion-row>
-->
    <ion-grid class="order-input-section" no-padding>
      <ion-row>
        <ion-col col-9>
            <ion-row>
              <ion-col col-3 no-padding no-margin>
                <ion-item>
                  <ion-datetime class="timeonly-text" displayFormat="HH시 mm분" pickerFormat="HH mm" placeholder="배달시간" [(ngModel)]="order.deliveryTime"></ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col col-9 *ngIf="order.addressInputType=='unknown'">
                <ion-item class="no-item-border-bottom">
                  <button ion-button class="getJusoButton" outline (click)="getJuso()">{{order.recipientAddress}}</button>
                  <button ion-button  class="getJusoButton" outline (click)="manualInput()">직접입력</button>
                </ion-item>
              </ion-col>
              <ion-col col-9 *ngIf="order.addressInputType=='manual'">
                <ion-item>
                  <ion-input type="text" placeholder="주소입력" [(ngModel)]="order.recipientAddress"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-9 *ngIf="order.addressInputType=='auto'">
                <ion-item class="no-item-border-bottom">
                  <button ion-button class="getJusoButton" outline (click)="getJuso()">{{order.recipientAddress}}</button> 
                </ion-item>         
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-3>
                &nbsp;
              </ion-col>
              <ion-col col-9>
                <ion-item *ngIf="order.addressInputType!='manual'">
                  <ion-input type="text" placeholder="상세주소" [(ngModel)]="order.recipientAddressDetail"></ion-input>
                </ion-item>
                <ion-item *ngIf="order.addressInputType=='manual'" class="no-item-border-bottom">
                  <button ion-button class="getJusoButton" outline (click)="changeAddressInputType('auto')" >도로명 주소 선택</button>
                </ion-item>          
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-3>
                &nbsp;
              </ion-col>
              <ion-col col-6>
                <ion-item class="no-item-border-bottom">
                    <ion-label>구매자와 동일</ion-label>
                    <ion-checkbox [(ngModel)]="order.receiverSame" (ionChange)="receiverSameChange()"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col col-3>
                    <ion-item class="no-item-border-bottom">
                      <ion-select class="payment-select" placeholder="배송방법" interface="popover" [(ngModel)]="order.deliveryMethod">
                        <ion-option value="픽업">픽업</ion-option>
                        <ion-option value="배송">배송</ion-option>                  
                        <ion-option value="냉동">냉동</ion-option>
                        <ion-option value="기타">기타</ion-option>
                      </ion-select>
                    </ion-item>            
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-3>
                &nbsp;
              </ion-col>
              <ion-col col-4>
                  <ion-item>
                    <ion-input type="text" placeholder="받는분 성함" [(ngModel)]="order.recipientName"></ion-input>
                  </ion-item>
                </ion-col>
              <ion-col col-5>
                  <ion-item>
                    <ion-input type="tel" placeholder="받는분 연락처" (input)="inputRecipientPhoneNumber()"  [(ngModel)]="order.recipientPhoneNumber"></ion-input>
                  </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngFor="let menu of order.menuList; let i=index">
              <ion-col col-2></ion-col>
              <ion-col col-3>{{menu.category}}</ion-col>
              <ion-col col-4>{{menu.menuString}}</ion-col>
              <ion-col col-1 text-right>{{menu.amount}}</ion-col>
              <ion-col col-1 text-left>{{menu.unit}}</ion-col>
              <ion-col col-1>
                <button ion-button no-padding no-margin clear style="height:15px;" (click)="removeMenu(i)">
                  <ion-icon name="close-circle"></ion-icon>
                </button>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-1 no-padding no-margin class="add-button">
                <ion-item class="no-item-border-bottom">
                <button no-padding no-margin ion-button (click)="addMenu()"><ion-icon name="add"></ion-icon></button>
                </ion-item>
              </ion-col>
              
              <ion-col col-3 no-padding no-margin>
                <ion-item class="no-item-border-bottom">
                  <ion-select no-padding interface="action-sheet" placeholder="메뉴종류" (ionChange)="selectCategory()" [(ngModel)]="categorySelected">
                  <ion-option [value]="i" *ngFor="let menu of menus;let i=index">{{menu.category}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-4 no-padding no-margin>
                <ion-item class="no-item-border-bottom" *ngIf="categorySelected!=-1"> 
                  <ion-select interface="action-sheet" placeholder="메뉴이름" [(ngModel)]="menuIndex">
                    <ion-option [value]="i" *ngFor="let menuString of menus[categorySelected].menuStrings,let i=index">{{menuString}}</ion-option>
                  </ion-select>
                </ion-item>    
                <ion-item class="no-item-border-bottom" *ngIf="categorySelected==-1"> 
                  메뉴종류 선택필요
                </ion-item>                          
              </ion-col>
              <ion-col col-2 no-padding no-margin>
                <ion-item >
                  <ion-input type="number" placeholder="수량"  text-right [(ngModel)]="amount"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-2 no-padding no-margin>
                <ion-item class="no-item-border-bottom">
                  <ion-select no-padding placeholder="단위" interface="popover" [(ngModel)]="unit">
                    <ion-option value="kg">kg</ion-option>
                    <ion-option value="말">말</ion-option>
                    <ion-option value="되">되</ion-option>
                    <ion-option value="접시">접시</ion-option>
                    <ion-option value="개">개</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-3>
                <ion-row>
                </ion-row>
                <ion-row>
                  <ion-col text-center>
                      <ion-item class="save-button no-item-border-bottom">
                          <button ion-button no-padding no-margin full  (click)="save()">저장</button>           
                      </ion-item>
                  </ion-col>
                </ion-row>  
              </ion-col>
              <ion-col col-9>
                <ion-item class="textarea-item no-item-border-bottom">
                  <ion-textarea type="text" placeholder="메모" [(ngModel)]="order.memo"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row>
          <ion-item>
            <ion-input type="text" placeholder="구매자 성함" (ionBlur)="inputBuyerName()" [(ngModel)]="order.buyerName"></ion-input>
          </ion-item>
          </ion-row>
          <ion-row>
          <ion-item>
            <ion-input type="tel" placeholder="구매자 연락처" (input)="inputBuyerPhoneNumber()" (ionBlur)="reflectBuyerPhoneNumber()" [(ngModel)]="order.buyerPhoneNumber"></ion-input>
          </ion-item>
          </ion-row>
          <ion-row>
            <ion-item >
              <ion-input text-right type="number" placeholder="금액" [(ngModel)]="order.price"></ion-input>     
          </ion-item> 
          </ion-row>
          <ion-row>
          <ion-item >
            <ion-input text-right type="number" placeholder="배송비" [(ngModel)]="order.deliveryFee"></ion-input>
          </ion-item>
          </ion-row>
            <ion-row>
              <ion-col  style="font-size:large;" col-4 text-left>
                  <b>&nbsp;&nbsp;합계</b>
              </ion-col>
              <ion-col col-8 style="font-size:large;"  text-right *ngIf="order.price!=undefined || order.deliveryFee!=undefined" >
                  <amount-display [amount]="sum(order.price,order.deliveryFee)"></amount-display>&nbsp;
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-8>
              <ion-item class="no-item-border-bottom">
                <ion-select class="payment-select" placeholder="결제방법" interface="popover" [(ngModel)]="order.paymentOption">
                  <ion-option value="cash-pre">현금-선불</ion-option>
                  <ion-option value="cash-after">현금-후불</ion-option>
                  <ion-option value="cash-paid">현금-완납</ion-option>                 
                  <ion-option value="card-pre">카드-선불</ion-option>
                  <ion-option value="card-after">카드-후불</ion-option>
                  <ion-option value="card-paid">카드-완납</ion-option>
                </ion-select>  
              </ion-item> 
              </ion-col>
              <ion-col col-4>
              </ion-col>           
            </ion-row>
            <ion-row>
              <ion-col>
                 <ion-item text-right class="save-button no-item-border-bottom">
                    <button ion-button no-padding no-margin style="background-color:darkgray;" (click)="orderCancel()">입력취소</button>
                 </ion-item>
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
