<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="adminPage()">
        <ion-icon large name="person"></ion-icon>관리자
      </button>
      <button ion-button (click)="trashPage()">
        <ion-icon large name="trash"></ion-icon>휴지통
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button (click)="refresh()">
        <ion-icon large name="md-refresh" ></ion-icon>&nbsp;업데이트
      </button>
      <button ion-button (click)="print()">
        <ion-icon large name="print"></ion-icon>프린트
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<div text-center>
    <button *ngIf="section=='order'" style="color:#488aff;" ion-button clear large>| 주문 |</button>
    <button *ngIf="section!='order'" style="color:black;" ion-button clear large (click)="orderSection()">| 주문 |</button>
     
    <button *ngIf="section=='delivery'" style="color:#488aff;" ion-button clear large>| 배달 |</button>
    <button *ngIf="section!='delivery'" style="color:black;" ion-button clear large (click)="deliverySection()">| 배달 |</button>
    
    <button *ngIf="section=='produce'" style="color:#488aff;" ion-button clear large>| 생산 |</button>
    <button *ngIf="section!='produce'" style="color:black;" ion-button clear large (click)="produceSection()">| 생산 |</button>
</div>

  <ion-grid class="delivery-date">
      <ion-row>
          <ion-col col-2>
            <button ion-button float-right clear (click)="orderGoYesterday()">
              <ion-icon class="icon-md-datetime-left" name="arrow-back"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-5 no-padding no-margin >
            <ion-item class="item-datetime-inner">
              <ion-datetime class="main-datetime-text" displayFormat="YYYY년 MM월 DD일" pickerFormat="YYYY MM DD" [(ngModel)]="deliveryDate"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-2 class="day">
            {{deliveyDay}}
          </ion-col>
          <ion-col col-3>
            <button ion-button float-left clear (click)="orderGoTomorrow()">
              <ion-icon class="icon-md-datetime-right" name="arrow-forward"></ion-icon>
            </button>
          </ion-col>
      </ion-row>
  </ion-grid>

 <div [hidden]="section!='order'">
    <div style="width:30%;margin:auto;">
        <ion-searchbar (ionInput)="searchOrderItems()" placeholder="주문자,전화번호 검색" [(ngModel)]="searchKeyWord"></ion-searchbar>
    </div>
    
    <ion-row>
      <ion-col *ngIf="newOrderInputShown" text-left>  <button ion-button (click)="newOrderCancel()">취소</button></ion-col>
      <ion-col *ngIf="!newOrderInputShown" text-right><button ion-button (click)="newOrder()">주문</button></ion-col>
      <ion-col *ngIf="newOrderInputShown" text-right> <button ion-button (click)="save()">저장</button></ion-col>
    </ion-row>

    <ion-grid *ngIf="newOrderInputShown" class="order-input-section" no-padding>
      <ion-row>
        <ion-col col-2 no-padding no-margin>
          <ion-item>
            <ion-datetime class="timeonly-text" displayFormat="HH시 mm분" pickerFormat="HH mm" placeholder="배달시간" [(ngModel)]="newDeliveryTime"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col col-7 *ngIf="newAddressInputType=='unknown'">
          <ion-item class="no-item-border-bottom">
            <button ion-button class="getJusoButton" outline (click)="newGetJuso()">{{newRecipientAddress}}</button>
            <button ion-button  class="getJusoButton" outline (click)="newManualInput()">직접입력</button>
          </ion-item>
        </ion-col>
        <ion-col col-7 *ngIf="newAddressInputType=='manual'">
          <ion-item>
            <ion-input type="text" placeholder="주소입력" [(ngModel)]="newRecipientAddress"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-7 *ngIf="newAddressInputType=='auto'">
          <ion-item class="no-item-border-bottom">
            <button ion-button class="getJusoButton" outline (click)="newGetJuso()">{{newRecipientAddress}}</button> 
          </ion-item>         
        </ion-col>

        <ion-col col-3>
          <ion-item>
            <ion-input type="text" placeholder="구매자 성함" (ionBlur)="inputNewBuyerName()" [(ngModel)]="newBuyerName"></ion-input>
          </ion-item>
        </ion-col>
        <!--
        <ion-col col-1 no-padding no-margin>
          <ion-item class="save-button no-item-border-bottom">
              <button ion-button no-padding no-margin full (click)="save()">저장</button>           
          </ion-item>
        </ion-col>
        -->
      </ion-row>
      
      <ion-row>
        <ion-col col-2>
          &nbsp;
        </ion-col>
        <ion-col col-7>
          <ion-item *ngIf="newAddressInputType!='manual'">
            <ion-input type="text" placeholder="상세주소" [(ngModel)]="newRecipientAddressDetail"></ion-input>
          </ion-item>
          <ion-item *ngIf="newAddressInputType=='manual'" class="no-item-border-bottom">
            <button ion-button class="getJusoButton" outline (click)="changeAddressInputType('auto')" >도로명 주소 선택</button>
          </ion-item>          
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-input type="tel" placeholder="구매자 연락처" (input)="inputNewBuyerPhoneNumber()" (ionBlur)="reflectNewBuyerPhoneNumber()" [(ngModel)]="newBuyerPhoneNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2>
          &nbsp;
        </ion-col>
        <ion-col col-5>
          <ion-item class="no-item-border-bottom">
              <ion-label>구매자와 동일</ion-label>
              <ion-checkbox [(ngModel)]="newReceiverSame" (ionChange)="newReceiverSameChange()"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col col-2>
              <ion-item class="no-item-border-bottom">
                <ion-select class="payment-select" placeholder="배송방법" interface="popover" [(ngModel)]="newDeliveryMethod">
                  <ion-option value="픽업">픽업</ion-option>
                  <ion-option value="배송">배송</ion-option>                  
                  <ion-option value="냉동">냉동</ion-option>
                  <ion-option value="기타">기타</ion-option>
                </ion-select>
              </ion-item>            
        </ion-col>
        <ion-col col-3>
          <ion-item>
              <ion-input type="number" placeholder="금액" [(ngModel)]="newPrice"></ion-input>     
          </ion-item> 
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col col-2>
          &nbsp;
        </ion-col>
        <ion-col col-3>
            <ion-item>
              <ion-input type="text" placeholder="받는분 성함" [(ngModel)]="newRecipientName"></ion-input>
            </ion-item>
          </ion-col>
        <ion-col col-4>
            <ion-item>
              <ion-input type="tel" placeholder="받는분 연락처" (input)="inputnewRecipientPhoneNumber()"  [(ngModel)]="newRecipientPhoneNumber"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-input type="number" placeholder="배송비" [(ngModel)]="newDeliveryFee"></ion-input>
          </ion-item> 
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col col-2>
                <ion-select class="payment-select" placeholder="배달자" interface="popover" [(ngModel)]="newCarrier">
                  <ion-option value="cash-pre">현금-선불</ion-option>
                  <ion-option value="cash-after">현금-후불</ion-option>                  
                  <ion-option value="card-pre">카드-선불</ion-option>
                  <ion-option value="card-paid">카드-후불</ion-option>
                </ion-select>  
        </ion-col>
        <ion-col col-7>
          <ion-item class="textarea-item no-item-border-bottom">
            <ion-textarea type="text" placeholder="메모" [(ngModel)]="memo"></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col col-3>
            <ion-row>
              <ion-item>
                  합계 
                  <b *ngIf="newPrice!=undefined || newDeliveryFee!=undefined"><amount-display [amount]="sum(newPrice,newDeliveryFee)"></amount-display>원</b>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-item class="no-item-border-bottom">
                <ion-select class="payment-select" placeholder="결제방법" interface="popover" [(ngModel)]="newPayment">
                  <ion-option value="cash-pre">현금-선불</ion-option>
                  <ion-option value="cash-after">현금-후불</ion-option>                  
                  <ion-option value="card-pre">카드-선불</ion-option>
                  <ion-option value="card-paid">카드-후불</ion-option>
                </ion-select>  
              </ion-item>            
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
 </div>    

</ion-content>
