<!--
  Generated template for the OrderInputPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>주문생성</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<ion-row>
  <ion-col no-padding no-margin col-3 style="font-size:3.4vw;" align-self-center>
    구매자 성함
  </ion-col>
  <ion-col no-padding no-margin col-9>
     <ion-item >
            <ion-input no-padding no-margin type="text" placeholder="구매자 성함" (ionBlur)="inputBuyerName()" [(ngModel)]="order.buyerName"></ion-input>
      </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col no-padding no-margin col-3 align-self-center>
    구매자 연락처
  </ion-col>
  <ion-col no-padding no-margin col-9>
      <ion-item>
          <ion-input type="tel" placeholder="구매자 연락처" (input)="inputBuyerPhoneNumber()" (ionBlur)="reflectBuyerPhoneNumber()" [(ngModel)]="order.buyerPhoneNumber"></ion-input>
      </ion-item>
  </ion-col>
</ion-row>

<!-- AUTO -->
<div [hidden]="order.deliveryMethod=='픽업'" *ngIf="order.addressInputType=='auto'">
<ion-row *ngIf="order.recipientAddress && order.recipientAddress!='주소선택'">
  <ion-col no-padding no-margin col-3 align-self-center>
     주소
  </ion-col>
  <ion-col no-padding no-margin col-9>
      <ion-item style="font-size:3.4vw;" text-wrap>
          {{order.recipientAddress}}
      </ion-item>       
  </ion-col>
</ion-row>
<ion-row>
  <ion-col no-padding no-margin col-3 align-self-center>
    상세 주소
  </ion-col>
  <ion-col no-padding no-margin col-9>
      <ion-item >
        <ion-input type="text" placeholder="상세주소" style="font-size:3.4vw;" [(ngModel)]="order.recipientAddressDetail"></ion-input>
      </ion-item>       
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-6>
    &nbsp;
  </ion-col>  
    <ion-col no-padding no-margin col-3>
    <ion-item no-padding no-margin class="no-item-border-bottom" >
                  <button ion-button  class="getJusoButton" outline (click)="manualInput()">직접입력</button>
    </ion-item>
    </ion-col>
    <ion-col no-padding no-margin col-3 *ngIf="order.addressInputType=='auto'">
          <ion-item no-padding no-margin class="no-item-border-bottom">
            <button ion-button class="getJusoButton" outline (click)="getJusoDaum()">주소선택</button> 
          </ion-item>         
    </ion-col>
</ion-row>
</div>
<!-- AUTO -->
<!-- MANUAL -->
<div [hidden]="order.deliveryMethod=='픽업'" *ngIf="order.addressInputType=='manual'">
<ion-row>
  <ion-col no-padding no-margin col-3 align-self-center>
    주소
  </ion-col>
  <ion-col no-padding no-margin col-9>
      <ion-item >
        <ion-input type="text" placeholder="주소입력" style="font-size:3.4vw;" [(ngModel)]="order.recipientAddress"></ion-input>
      </ion-item>       
  </ion-col>
</ion-row>
  <ion-row>
      <ion-col col-9>
        &nbsp;
      </ion-col>  
      <ion-col no-padding no-margin col-3>
            <ion-item no-padding no-margin class="no-item-border-bottom">
              <button ion-button class="getJusoButton" outline (click)="getJusoAuto()">주소선택</button> 
            </ion-item>         
      </ion-col>
  </ion-row>
</div>
<!-- MANUAL -->
<!-- Unknown -->
<ion-row [hidden]="order.deliveryMethod=='픽업'" *ngIf="order.addressInputType=='unknown'">
    <ion-col no-padding no-margin col-3 align-self-center>
    주소입력
  </ion-col>
     <ion-col no-padding no-margin text-right>
    <ion-item no-padding no-margin class="no-item-border-bottom input-button" >
                  <button ion-button  class="getJusoButton" outline (click)="manualInput()">직접입력</button>
    </ion-item>
    </ion-col>
    <ion-col no-padding no-margin text-left>
          <ion-item no-padding no-margin class="no-item-border-bottom">
            <button ion-button class="getJusoButton" outline (click)="getJusoAuto()">주소선택</button> 
          </ion-item>         
    </ion-col>
</ion-row>
<!-- Unknown -->

<ion-row>
  <ion-col col-3 no-padding no-margin align-self-center>
    배송방법
  </ion-col>
  <ion-col col-9>
      <ion-item class="no-item-border-bottom">
        <ion-select class="payment-select" placeholder="배송방법" (ionChange)="deliveryMethodChange()" [(ngModel)]="order.deliveryMethod">
          <ion-option value="픽업">픽업</ion-option>
          <ion-option value="배달">배달</ion-option>                  
          <ion-option value="냉동">냉동</ion-option>
          <ion-option value="기타">기타</ion-option>
        </ion-select>
      </ion-item>            
  </ion-col>
</ion-row>

<ion-row *ngIf="order.id">
  <ion-col col-3 no-padding no-margin align-self-center>
    배달일 
  </ion-col>
  <ion-col col-9>
    <ion-item  no-padding no-margin class="no-item-border-bottom">
        <ion-datetime no-padding no-margin class="timeonly-text" displayFormat="MM월 DD일" pickerFormat="YYYY MM DD" placeholder="배달일" [(ngModel)]="deliveryTimeUpdate"></ion-datetime>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-3 no-padding no-margin align-self-center>
    시간
  </ion-col>
  <ion-col col-9>
              <ion-row *ngIf="!order.id">
                  <ion-col no-padding no-margin>
                    <ion-input no-margin #inputToFocusStartHour (input)="inputStartHour()" class="input_underbar" type="number" max=3 min=1 [(ngModel)]="deliveryStartHour"> </ion-input>
                  </ion-col>
                  <ion-col no-padding no-margin>
                    시
                  </ion-col>
                  <ion-col no-padding no-margin>
                    <ion-input no-margin #inputToFocusStartMin (input)="inputStartMin()" class="input_underbar" type="number" max=3 min=1 [(ngModel)]="deliveryStartMin"> </ion-input>
                  </ion-col>
                  <ion-col no-padding no-margin>
                    분~
                  </ion-col>
                  <ion-col no-padding no-margin>
                    <ion-input no-margin #inputToFocusEndHour  (input)="inputEndHour()" class="input_underbar" type="number" max=3 min=1 [(ngModel)]="deliveryEndHour"> </ion-input>
                  </ion-col>
                  <ion-col no-padding no-margin>
                    시
                  </ion-col>                  
                  <ion-col no-padding no-margin>
                    <ion-input no-margin #inputToFocusEndMin class="input_underbar" type="number" max=3 min=1 [(ngModel)]="deliveryEndMin"> </ion-input>
                  </ion-col>                  
                  <ion-col no-padding no-margin>
                    분
                  </ion-col>
                </ion-row>   
                <ion-row *ngIf="order.id">
                  <ion-col no-padding no-margin>
                    <ion-input no-margin class="input_underbar" type="number" max=3 min=1 [(ngModel)]="deliveryStartHour"> </ion-input>
                  </ion-col>
                  <ion-col no-padding no-margin>
                    시
                  </ion-col>
                  <ion-col no-padding no-margin>
                    <ion-input no-margin class="input_underbar" type="number" max=3 min=1 [(ngModel)]="deliveryStartMin"> </ion-input>
                  </ion-col>
                  <ion-col no-padding no-margin>
                    분~
                  </ion-col>
                  <ion-col no-padding no-margin>
                    <ion-input no-margin class="input_underbar" type="number" max=3 min=1 [(ngModel)]="deliveryEndHour"> </ion-input>
                  </ion-col>
                  <ion-col no-padding no-margin>
                    시
                  </ion-col>                  
                  <ion-col no-padding no-margin>
                    <ion-input no-margin class="input_underbar" type="number" max=3 min=1 [(ngModel)]="deliveryEndMin"> </ion-input>
                  </ion-col>                  
                  <ion-col no-padding no-margin>
                    분
                  </ion-col>
                </ion-row>   
  </ion-col>
</ion-row>

<ion-item class="no-item-border-bottom">
  <ion-label style="font-size:3.4vw;">구매자와 동일</ion-label>
  <ion-checkbox [(ngModel)]="order.receiverSame" (ionChange)="receiverSameChange()"></ion-checkbox>
</ion-item>

<ion-row>
  <ion-col no-padding no-margin col-3 style="font-size:3.4vw;" align-self-center>
    받는분 성함
  </ion-col>
  <ion-col no-padding no-margin col-9>
     <ion-item >
              <ion-input type="text" placeholder="받는분 성함" [(ngModel)]="order.recipientName"></ion-input>
      </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col no-padding no-margin col-3 align-self-center>
    받는분 연락처
  </ion-col>
  <ion-col no-padding no-margin col-9>
      <ion-item>
              <ion-input type="tel" placeholder="받는분 연락처" (input)="inputRecipientPhoneNumber()"  [(ngModel)]="order.recipientPhoneNumber"></ion-input>
      </ion-item>
  </ion-col>
</ion-row>

<ion-row *ngFor="let menu of order.menuList; let i=index">
      <ion-col col-3>{{menu.category}}</ion-col>
      <ion-col col-5>{{menu.menuString}}</ion-col>
      <ion-col col-2><ion-input class="amount-input" style="border-bottom:solid 1px;"type="number" text-right [(ngModel)]="menu.amount"> </ion-input></ion-col>              
      <ion-col col-1 text-left>{{menu.unit}}</ion-col>
      <ion-col col-1>
        <button ion-button no-padding no-margin clear style="height:15px;" (click)="removeMenu(i)">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-col>
</ion-row>

<div class="menu-input" style="font-size:3vw;">
  <ion-row>
    <ion-col col-2 no-padding no-margin>
      <ion-item no-padding no-margin class="no-item-border-bottom">
        <ion-select  style="font-size:3vw;" no-padding interface="action-sheet" placeholder="메뉴종류" (ionChange)="selectCategory()" [(ngModel)]="categorySelected">
          <ion-option style="font-size:3vw;" [value]="-1">추가메뉴없음</ion-option>
          <ion-option  style="font-size:3vw;"[value]="-2">직접입력</ion-option> 
        <ion-option  style="font-size:3vw;" [value]="i" *ngFor="let menu of menus;let i=index">{{menu.category}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>

      <ion-col col-8 no-padding no-margin *ngIf="categorySelected==-2">
      <ion-item class="textarea-item no-item-border-bottom">
        <ion-textarea type="text" placeholder="메뉴입력" [(ngModel)]="etc"></ion-textarea>
      </ion-item>                
    </ion-col>
    <ion-col col-4 no-padding no-margin *ngIf="categorySelected!=-2">
      <ion-item no-padding no-margin class="no-item-border-bottom" *ngIf="categorySelected>=0 && menus[categorySelected].type!='complex-choice'"> 
        <ion-select style="font-size:3vw;" interface="action-sheet" placeholder="메뉴이름" [(ngModel)]="menuIndex">
          <ion-option style="font-size:3vw;" [value]="i" *ngFor="let menu of menus[categorySelected].menus,let i=index">{{menu.menuString}}</ion-option>
        </ion-select>
      </ion-item>  
      <ion-item  style="font-size:3vw;" no-padding no-margin class="no-item-border-bottom" *ngIf="categorySelected>=0 && menus[categorySelected].type=='complex-choice'"> 
          떡 종류 선택({{menus[categorySelected].menus[0].choiceNumber}}개)
      </ion-item>    
      <ion-item  style="font-size:3vw;" no-padding no-margin class="no-item-border-bottom" *ngIf="categorySelected==-1"> 
        메뉴종류 선택필요
      </ion-item>                          
      </ion-col>
    <ion-col col-2 no-padding no-margin *ngIf="categorySelected>=0 && menus[categorySelected].type=='general'">
      <ion-item no-padding no-margin class="no-item-border-bottom unit-selector">
        <ion-select style="font-size:3vw;" no-padding placeholder="포장" [(ngModel)]="package">
          <ion-option style="font-size:3vw;" value="기본">기본</ion-option>
          <ion-option style="font-size:3vw;" value="기계">기계</ion-option>                    
          <ion-option style="font-size:3vw;" value="미니랩">미니랩</ion-option>
          <ion-option style="font-size:3vw;" value="팩">팩</ion-option>
          <ion-option style="font-size:3vw;" value="제사용">제사용</ion-option>
        </ion-select>
      </ion-item>                
    </ion-col>      
    <ion-col col-1 *ngIf="categorySelected>=0 && menus[categorySelected].type=='complex-choice'"> 
    </ion-col>        
    <ion-col col-2 no-padding no-margin *ngIf="categorySelected>=0">
      <ion-item no-padding no-margin>
        <ion-input class="amount-input"style="font-size:3vw;"  type="number" placeholder="수량"  text-right [(ngModel)]="amount"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-1 no-padding no-margin *ngIf="categorySelected>=0">
      <ion-item no-padding no-margin class="no-item-border-bottom unit-selector">
        <ion-select style="font-size:3vw;" no-padding placeholder="단위" [(ngModel)]="unit">
          <ion-option style="font-size:3vw;" value="kg">kg</ion-option>
          <ion-option style="font-size:3vw;" value="말">말</ion-option>
          <ion-option style="font-size:3vw;" value="되">되</ion-option>
          <ion-option style="font-size:3vw;" value="접시">접시</ion-option>
          <ion-option style="font-size:3vw;" value="개">개</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col col-1 no-padding no-margin class="add-button" *ngIf="categorySelected!=-1">
      <ion-item no-padding no-margin class="no-item-border-bottom">
      <button no-padding no-margin ion-button (click)="addMenu()"><ion-icon name="add"></ion-icon></button>
      </ion-item>
    </ion-col>
  </ion-row>
  <div *ngIf="categorySelected>=0 && menus[categorySelected].type=='complex-choice' && choices && choices.length>0">
  <ion-row *ngFor="let choice of choices;let i=index;">
    <ion-col col-3 no-padding no-margin>
    </ion-col>
    <ion-col class="choice-selection" col-4 no-padding no-margin>
      <ion-item no-padding no-margin class="no-item-border-bottom">
      <ion-searchbar  style="font-size:3vw;" placeholder="메뉴이름" [(ngModel)]="choices[i].option" (ionInput)="onInput($event,i)">
      </ion-searchbar>
      <div no-padding no-margin [hidden]="choices[i].option==undefined || choices[i].option.length==0" *ngFor="let menu of choiceOptions[i]">
      <button ion-button clear style="font-size:3vw;" color="black" (click)="selectChoice(menu,i)"  >{{menu}}</button>    
      </div>
      </ion-item>    
    </ion-col>
    <ion-col col-5>
    </ion-col> 
  </ion-row>
 </div>
</div>

<ion-row>
  <ion-col col-3 no-padding no-margin align-self-center>
    결제방법
  </ion-col>
  <ion-col col-9>
              <ion-item no-padding no-margin  class="no-item-border-bottom">
                <ion-select style="font-size:3vw;" class="payment-select" placeholder="결제방법" (ionChange)="selectPayment()" [(ngModel)]="order.paymentOption">
                  <ion-option style="font-size:3vw;" value="cash-paid-pre" >현금선불-완납</ion-option>
                  <ion-option style="font-size:3vw;" value="cash-unpaid-after">현금후불</ion-option>
                  <ion-option style="font-size:3vw;" *ngIf="order.paymentOption=='cash-paid-after'" value="cash-paid-after">현금후불-완납</ion-option>
                  <ion-option style="font-size:3vw;" value="cash-unpaid-transaction">현금이체</ion-option> 
                  <ion-option style="font-size:3vw;" value="cash-paid">현금이체-완납</ion-option>                                                   
                  <ion-option style="font-size:3vw;" value="card-paid-pre">카드선불-완납</ion-option>
                  <ion-option style="font-size:3vw;" value="card-unpaid">카드기</ion-option>
                  <ion-option style="font-size:3vw;" value="cash-unknown">현금보류</ion-option>
                  <ion-option style="font-size:3vw;" value="cash-month">월말정산</ion-option>                  
                  <ion-option style="font-size:3vw;" *ngIf="order.paymentOption=='card-paid'" value="card-paid">카드기-완납</ion-option>                
                 </ion-select>  
              </ion-item> 
  </ion-col>
</ion-row>

<ion-row>
  <ion-col col-3 no-padding no-margin align-self-center>
    금액
  </ion-col>
  <ion-col col-9>
            <ion-item  no-padding no-margin>
              <ion-input  no-padding no-margin text-right type="tel" placeholder="금액" (input)="inputPrice()" [(ngModel)]="priceString"></ion-input>     
          </ion-item> 
  </ion-col>
</ion-row>

<ion-row>
  <ion-col col-3 no-padding no-margin align-self-center>
    배송비
  </ion-col>
  <ion-col col-9>
            <ion-item  no-padding no-margin>
            <ion-input text-right type="tel" placeholder="배송비" (input)="inputDeliveryFee()" [(ngModel)]="deliveryFeeString"></ion-input>
          </ion-item> 
  </ion-col>
</ion-row>

<ion-row *ngIf="priceString!=undefined || deliveryFeeString!=undefined">
  <ion-col col-3 no-padding no-margin align-self-center>
    합계
  </ion-col>
  <ion-col col-9 text-right style="font-size:4.5vw;">
    {{computeTotal().toLocaleString()}}
  </ion-col>
</ion-row>

<ion-row>
  <ion-col col-3 no-padding no-margin align-self-center>
    메모
  </ion-col>
  <ion-col col-9>
      <ion-item no-padding no-margin class="no-item-border-bottom">
        <ion-textarea no-padding no-margin style="border:solid 1px darkgray;" type="text" placeholder="메모" [(ngModel)]="order.memo"></ion-textarea>
      </ion-item>
  </ion-col>
</ion-row>

</ion-content>
<ion-footer>
  <ion-row>
<ion-col no-padding no-margin><button no-margin ion-button full style="border:solid 1px white;" (click)="cancel()" >입력취소</button></ion-col>
<ion-col no-padding no-margin><button no-margin ion-button full style="border:solid 1px white;" (click)="save()" >저장</button></ion-col>
</ion-row>
</ion-footer>
