page-home {
/////Global SCSS/////
.select-md{
  padding: 0;
}

.select-text{
  white-space: normal;
}

ion-select.select.select-ios.ng-valid.ng-dirty.ng-touched {
  max-width: 80%;
}

.select-ios{
  padding: 0;
}

.adminAndtrashButtonLeftAssign{
  font-size: 20px !important;
}


.printButtonRightAssign{
    text-align: right;
}

.order-input-section{
  border-color: #9acd32;
  border-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.main-datetime-text{
  text-align: center;
  font-size: 30px;
}

.timeonly-text{
  text-align: center;
  font-size: 15px;
}

.getJusoButton{
    span{
        font-size: 1.8rem !important;
    }
  //font-size: 2rem !important;
}

.top3ButtonsCenterAssign{
  text-align: center;
}

.mainSearchbarCenterAssign{
  width: 30%;
  margin: auto;

}

.icon-md-datetime-left{
  font-size: 6rem;
  text-align: right;
}

.icon-md-datetime-right{
  font-size: 6rem;
  text-align: left;
}

.order-new-button {
  color: #9acd32;
  border-color: #9acd32;
}

.order-save-button{
  color: #9acd32;
  border-color: #9acd32;
}

.item-datetime-inner{
  //width: 80%;
  margin: auto;
}

.addressButton{
  width: 100%;
  
}

.orderlist-recipientAddress{
  p{
    color: black;
  }
}

.orderlist-buyerName{
  p{
    color: black;
  }
}

.orderlist-recipientAddressDetail{
  p{
    color: black;
  }
}

.orderlist-buyerPhoneNumber{
  p{
    color: black;
  }
}

.orderlist-recipientName{
  p{
    color: black;
  }
}

.orderlist-recipientPhoneNumber{
  p{
    color: black;
  }
}

.orderlist-price{
  p{
    color: black;
    font-weight: bold;
  }
}

.orderlist-dduckAddedList{
  p{
    color: black;
    font-size: 2rem;
    font-weight: bold;
  }
}

.orderlist-memo{
  border-style: solid;
  p{
    color: black;
    font-size: 2rem;
  }
}

.orderlist-payment{
  p{
    color: black;
  }
}

.deliver-check-button{
  font-size: 7rem;
  text-decoration-line: underline;
}

.memoTextArea{
  color: black;
  border-color: yellow;
  height: 10vh;
}
///////////////////////////////////////////End of ORDER INPUT SCSS//////////////////////////////////


///// START of SHOW ORDERLIST /////
.orderlist-section{
  border-color: steelblue;
  border-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}


.timeonly-text-orderlist{
  p{
  text-align: center;
  font-size: 1.5rem;
  color: black; 
  }
}

.select-deliveryMan{
  overflow: visible;
  width: 80px;
  max-width: 100%;
}





///// End of HOME.SCSS /////
}