page-home {

}
.adminAndtrashButtonLeftAssign{
  font-size: 20px !important;
}


.printButtonRightAssign{
    text-align: right;
}

.order-input-section{
  border-color: gray;
  border-style: solid;
  border-bottom-width: 0.5px;
}

.main-datetime-text{
  text-align: center;
  font-size: 30px;
}

.timeonly-text{
  text-align: center;
  font-size: 15px;
}

.top3ButtonsCenterAssign{
  text-align: center;
}

.mainSearchbarCenterAssign{
  width: 30%;
  margin: auto;

}

.icon-md-datetime-left{
  font-size: 6rem;
  text-align: right;
}

.icon-md-datetime-right{
  font-size: 6rem;
  text-align: left;
}

.item-datetime-inner{
  //width: 80%;
  margin: auto;
}

.addressButton{
  width: 100%;
  
}

.deliver-check-button{
  font-size: 20px;
  text-decoration-line: underline;
}

.memoTextArea{
  height: 8vh;
}