page-home {

}
.adminAndtrashButtonLeftAssign{
  font-size: 20px !important;
}


.printButtonRightAssign{
    text-align: right;
}

.datetime-text{
  text-align: center;
  font-size: 30px;
}

.top3ButtonsCenterAssign{
  text-align: center;
}

.mainSearchbarCenterAssign{
  width: 30%;
  margin: auto;

}

.icon-md-datetime-left{
  font-size: 6rem;
  text-align: right;
}

.icon-md-datetime-right{
  font-size: 6rem;
  text-align: left;
}

.item-datetime-inner{
  //width: 80%;
  margin: auto;
}

.deliver-check-button{
  font-size: 20px;
  text-decoration-line: underline;
}