<ion-header>
  <ion-navbar>
    <ion-buttons start>

      <!-- adimin Page = page2 -->
      <button ion-button (click)="adminPage()">
        <ion-icon large name="person"></ion-icon>
      </button>

      <!-- trash Page = page3 -->
      <button ion-button (click)="trashPage()">
        <ion-icon large name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>

      <!--temporary print function -->
      <button ion-button (click)="print()">
        <ion-icon large name="print"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- ORDER & DELIVER & PRODUCE BUTTTONS -->

  <!-- have to change background color & outline -->

  <div class="top3ButtonsCenterAssign">
    <button ion-button clear large (click)="orderButton()" [style.color]="orderButtonColor">| ORDER |</button>
     
    <button ion-button clear large (click)="deliverButton()" [style.color]="deliverButtonColor" >| DELIVER |</button>
    
    <button ion-button clear large (click)="produceButton()" [style.color]="produceButtonColor">| PRODUCE |</button>
  </div>
  



  <!-- BELOW IS AN ORDER SECTION -->
  <div [hidden]="orderButtonFlag">


    <!-- order searchbar -->
    <div class="mainSearchbarCenterAssign">
        <ion-searchbar (ionInput)="getOrderItems($event)"></ion-searchbar>
    </div>
    

    <!-- order datetime -->
    <ion-grid>
        <ion-row>
            <ion-col col-3>
              <button ion-button float-right clear (click)="orderGoYesterday()">
                <ion-icon class="icon-md-datetime-left" name="arrow-back"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-5>
              <ion-item class="item-datetime-inner">
                <ion-datetime class="main-datetime-text" displayFormat="YYYY년  MM월  DD일" pickerFormat="YYYY MM DD" [(ngModel)]="displayOrderDate.ios8601"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col col-1>
              요일
            </ion-col>
            <ion-col col-3>
              <button ion-button float-left clear (click)="orderGoTomorrow()">
                <ion-icon class="icon-md-datetime-right" name="arrow-forward"></ion-icon>
              </button>
            </ion-col>
        </ion-row>
    </ion-grid>


    
    <!-- New order & save button -->

    <ion-row>
      <ion-col><button ion-button outline class="order-new-button" (click)="newOrder()">주문</button></ion-col>
      <ion-col text-right><button ion-button outline class="order-save-button" (click)="save()">저장</button></ion-col>
    </ion-row>


    <!-- order input section -->
    <ion-grid class="order-input-section">
      <ion-row>
        <ion-col col-2 no-padding no-margin>
          <ion-item>
            <ion-datetime class="timeonly-text" displayFormat="HH시 mm분" pickerFormat="HH mm" [(ngModel)]="deliveryTime"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-7>
          <ion-item>
            <button ion-button class="getJusoButton" outline (click)="getJuso()">{{recipientAddress}}</button>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-input type="text" placeholder="구매자 성함" [(ngModel)]="buyerName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col col-2>
          &nbsp;
        </ion-col>
        <ion-col col-7>
          <ion-item>
            <ion-input type="text" placeholder="상세주소" [(ngModel)]="recipientAddressDetail"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-input type="tel" placeholder="구매자 연락처" [(ngModel)]="buyerPhoneNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col col-2>
          &nbsp;
        </ion-col>
        <ion-col col-3>
            <ion-item>
              <ion-input type="text" placeholder="받는분 성함" [(ngModel)]="recipientName"></ion-input>
            </ion-item>
          </ion-col>
        <ion-col col-4>
            <ion-item>
              <ion-input type="tel" placeholder="받는분 연락처" [(ngModel)]="recipientPhoneNumber"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-input type="number" placeholder="금액" [(ngModel)]="price"></ion-input>
          </ion-item> 
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col col-2>
          <button ion-button outline (click)="dduckAdd()"><ion-icon name="add">&nbsp;떡추가</ion-icon></button>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label>떡종류</ion-label>
            <ion-select interface="action-sheet" [(ngModel)]="dduckName">
              <ion-option *ngFor="let menu of menus">{{menu.name}}</ion-option>
              <!--<ion-option value="떡국떡">떡국떡</ion-option>
              <ion-option value="바람떡">바람떡</ion-option>
              <ion-option value="찹쌀가루">찹쌀가루</ion-option>
              <ion-option value="쑥인절미">쑥인절미</ion-option>
              <ion-option value="흰인절미">흰인절미</ion-option>
              <ion-option value="인절미">인절미</ion-option>
              <ion-option value="이티떡">이티떡</ion-option>
              <ion-option value="송편">송편</ion-option>
              <ion-option value="꿀떡">꿀떡</ion-option>
              <ion-option value="콩송편">콩송편</ion-option>
              <ion-option value="가래떡">가래떡</ion-option>
              <ion-option value="현미쑥가래떡">현미쑥가래떡</ion-option>
              <ion-option value="현미가래떡">현미가래떡</ion-option>
              <ion-option value="쑥가래떡">쑥가래떡</ion-option>
              <ion-option value="미니설기">미니설기</ion-option>
              <ion-option value="녹두호박떡">녹두호박떡</ion-option>
              <ion-option value="단호박소담">단호박소담</ion-option>
              <ion-option value="백설기">백설기</ion-option>
              <ion-option value="쑥밤콩설기">쑥밤콩설기</ion-option>
              <ion-option value="밤콩설기">밤콩설기</ion-option>
              <ion-option value="백설기">백설기</ion-option>
              <ion-option value="떡볶이">떡볶이</ion-option>
              <ion-option value="절편">절편</ion-option>
              <ion-option value="4색송편">4색송편</ion-option>
              <ion-option value="모시송편">모시송편</ion-option>
              <ion-option value="개떡">개떡</ion-option>
              <ion-option value="증편">증편</ion-option>
              <ion-option value="수정과">수정과</ion-option>
              <ion-option value="수수(팥)">수수(팥)</ion-option>
              <ion-option value="흑미찰떡">흑미찰떡</ion-option>
              <ion-option value="고구마찰떡">고구마찰떡</ion-option>
              <ion-option value="찰떡">찰떡</ion-option>
              <ion-option value="두텁">두텁</ion-option>
              <ion-option value="모찌">모찌</ion-option>
              <ion-option value="함시루떡">함시루떡</ion-option>
              <ion-option value="멥밥">멥밥</ion-option>
              <ion-option value="찰밥(오곡/팥)">찰밥(오곡/팥)</ion-option>
              <ion-option value="제사편(녹두/기피/콩/흑임자)">제사편(녹두/기피/콩/흑임자)</ion-option>
              <ion-option value="팥시루떡">팥시루떡</ion-option>
              <ion-option value="고사 팥시루떡">고사 팥시루떡</ion-option>
              <ion-option value="멥시루떡">멥시루떡</ion-option>
              <ion-option value="떡케익(백설기/밤콩/단호박/흑임자/잣케익/무지개)">떡케익(백설기/밤콩/단호박/흑임자/잣케익/무지개)</ion-option>
              <ion-option value="이바지">이바지</ion-option>
              <ion-option value="편육">편육</ion-option>
              <ion-option value="보쌈고기">보쌈고기</ion-option>
              <ion-option value="돼지머리">돼지머리</ion-option>
              <ion-option value="홍어무침">홍어무침</ion-option>
              <ion-option value="무지개떡">무지개떡</ion-option>
              <ion-option value="딸기설기">딸기설기</ion-option>
              <ion-option value="멥편">멥편</ion-option>
              <ion-option value="약식">약식</ion-option>-->
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-item>
            <ion-input type="number" placeholder="수량" [(ngModel)]=dduckAmount></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-item>
            <ion-label>단위</ion-label>
            <ion-select interface="action-sheet" [(ngModel)]="dduckUnit">
              <ion-option value="kg">kg</ion-option>
              <ion-option value="말">말</ion-option>
              <ion-option value="되">되</ion-option>
              <ion-option value="접시">접시</ion-option>
              <ion-option value="개">개</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label>결제 수단</ion-label>
            <ion-select [(ngModel)]="paymentMethod">
              <ion-option value="cash">현금</ion-option>
              <ion-option value="card">카드</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      
      
      <ion-row *ngFor="let dduckAdded of dduckAddedList; let dduckSelect=index">
        <ion-col col-2>&nbsp;</ion-col>
        <ion-col col-3>{{dduckAdded.name}}</ion-col>
        <ion-col col-1>{{dduckAdded.amount}}</ion-col>
        <ion-col col-2>{{dduckAdded.unit}}</ion-col>
        <ion-col col-1>
          <button ion-button clear (click)="dduckminus(dduckSelect)">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-3>&nbsp;</ion-col>
      </ion-row>
        
      <ion-row>
        <ion-col col-2>
          &nbsp;
        </ion-col>
        <ion-col col-7>
          <ion-item class="textarea-item">
            <ion-textarea class="memoTextArea" type="text" placeholder="메모" [(ngModel)]="memo"></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col col-3>
            <ion-row>
              <ion-item>
                <ion-label>결제 방법</ion-label>
                <ion-select [(ngModel)]="payment">
                  <ion-option value="paid">선불</ion-option>
                  <ion-option value="unpaid">후불</ion-option>
                </ion-select>
              </ion-item>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>




    <!-- show order list-->
    <ion-list>
      <ion-item *ngFor = "let order of orderList">
        <ion-card (swipe) = "swipeCategory($event)">
        <ion-grid class="orderlist-section">
            <ion-row>
              <ion-col col-2>
                <ion-item class="timeonly-text-orderlist">
                  <p>{{order.deliveryTime.slice(11,13) + "시 " + order.deliveryTime.slice(14,16) + "분"}}</p>
                </ion-item>
              </ion-col>
              <ion-col col-7>
                <ion-item class="orderlist-recipientAddress">
                  <p>{{order.recipientAddress}}</p>
                </ion-item>
              </ion-col>
              <ion-col col-3>
                <ion-item class="orderlist-buyerName">
                  <p>{{"구매자:  " + order.buyerName}}</p>
                </ion-item>
              </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col col-2>
                &nbsp;
              </ion-col>
              <ion-col col-7>
                <ion-item class="orderlist-recipientAddressDetail">
                  <p>{{order.recipientAddressDetail}}</p>
                </ion-item>
              </ion-col>
              <ion-col col-3>
                <ion-item class="orderlist-buyerPhoneNumber">
                  <p>{{order.buyerPhoneNumber}}</p>
                </ion-item>
              </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col col-2>
                <button ion-button text-center large outline color="secondary" (click)="modifyOrder()">수정</button>
              </ion-col>
              <ion-col col-3>
                  <ion-item class="orderlist-recipientName">
                    <p>{{order.recipientName}}</p>
                  </ion-item>
                </ion-col>
              <ion-col col-4>
                  <ion-item class="orderlist-recipientPhoneNumber">
                    <p>{{order.recipientPhoneNumber}}</p>
                  </ion-item>
              </ion-col>
              <ion-col col-3>
                <ion-item class="orderlist-price">
                  <p>{{order.price + "  원"}}</p>
                </ion-item> 
              </ion-col>
            </ion-row>
      
            <ion-row *ngFor="let dduckAdded of order.menuList" class="orderlist-dduckAddedList">
              <ion-col col-2>&nbsp;</ion-col>
              <ion-col col-3>
                <ion-item>
                  <p>{{dduckAdded.name}}</p>
                </ion-item>
              </ion-col>
              <ion-col col-2>
                <ion-item>
                  <p>{{dduckAdded.amount}}</p>
                </ion-item>
              </ion-col>
              <ion-col col-2>
                <ion-item>
                  <p>{{dduckAdded.unit}}</p>
                </ion-item>
              </ion-col>
              <ion-col col-3>
                &nbsp;
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-2>
                <button ion-button text-center large outline color="danger" (click)="confirmHideOrder(order.id)">삭제</button>
              </ion-col>
              <ion-col col-7>
                <ion-item class="orderlist-memo">
                  <p>{{order.memo}}</p>
                </ion-item>
              </ion-col>
              <ion-col col-3>
                <ion-item class="orderlist-payment">
                  <p>{{order.paymentMethod + " / " + order.payment}}</p>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-item>
      
    </ion-list>
    <!-- Searchbar component Example
    <ion-list>
      <ion-item *ngFor="let orderItem of orderItems">
        {{orderItem}}
      </ion-item>
    </ion-list>
  -->

  </div>

  <!-- BELOW IS A DELIVER SERCTION -->
  <div [hidden]="deliverButtonFlag">

    <ion-grid>
      <ion-row>
          <ion-col col-3>
            <button ion-button float-right clear (click)="deliverGoYesterday()">
              <ion-icon class="icon-md-datetime-left" name="arrow-back"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-5>
            <ion-item class="item-datetime-inner">
              <ion-datetime class="main-datetime-text" displayFormat="YYYY년  MM월  DD일" pickerFormat="YYYY MM DD" [(ngModel)]="displayDeliverDate.ios8601"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-1>
            요일
          </ion-col>
          <ion-col col-3>
            <button ion-button float-left clear (click)="deliverGoTomorrow()">
              <ion-icon class="icon-md-datetime-right" name="arrow-forward"></ion-icon>
            </button>
          </ion-col>
      </ion-row>
    </ion-grid>


    <ion-buttons end>
      <button ion-button outline color="danger" (click)="deliverManManage">배달인원관리</button>
    </ion-buttons>


    <!-- show order list in deliver tab-->
    <ion-item *ngFor="let order of orderList,let i=index;">
      <ion-grid class="orderlist-section">

          <ion-row>
            <ion-col col-2>
              <ion-item class="timeonly-text-orderlist">
                <p>{{order.deliveryTime.slice(11,13) + "시 " + order.deliveryTime.slice(14,16) + "분"}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-7>
              <ion-item class="orderlist-recipientAddress">
                <p>{{order.recipientAddress}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-3>
              <ion-item class="orderlist-buyerName">
                <p>{{order.buyerName}}</p>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-2>
              &nbsp;
            </ion-col>
            <ion-col col-7>
              <ion-item class="orderlist-recipientAddressDetail">
                <p>{{order.recipientAddressDetail}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-3>
              <ion-item class="orderlist-buyerPhoneNumber">
                <p>{{order.buyerPhoneNumber}}</p>
              </ion-item>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col col-2>
              &nbsp;
            </ion-col>
            <ion-col col-3>
                <ion-item class="orderlist-recipientName">
                  <p>{{order.recipientName}}</p>
                </ion-item>
              </ion-col>
            <ion-col col-4>
                <ion-item class="orderlist-recipientPhoneNumber">
                  <p>{{order.recipientPhoneNumber}}</p>
                </ion-item>
            </ion-col>
            <ion-col col-3>
              <ion-item class="orderlist-price">
                <p>{{order.price + "원"}}</p>
              </ion-item> 
            </ion-col>
          </ion-row>

          <!--<div *ngIf="order.dduckAddedList" >-->
          <ion-row *ngFor="let dduckAdded of order.menuList" class="orderlist-dduckAddedList">
            <ion-col col-2>&nbsp;</ion-col>
            <ion-col col-3>
              <ion-item>
                <p>{{dduckAdded.name}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-2>
              <ion-item>
                <p>{{dduckAdded.amount}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-2>
              <ion-item>
                <p>{{dduckAdded.unit}}</p>
              </ion-item>
            </ion-col>
            <ion-col col-3>
              &nbsp;
            </ion-col>
          </ion-row>
         
            <ion-row>
              <ion-col col-2>
                <ion-row>
                  <ion-item no-padding no-margin>
                    <ion-select class="select-deliveryMan" okText="선택" cancelText="취소" (ionChange)="selectDeliveryMan(order)" placeholder="배달" [(ngModel)]="order.carrier">
                      <ion-option *ngFor="let carrier of carriers" value="{{carrier.name}}" >{{carrier.name}}</ion-option>
                    </ion-select>
                  </ion-item>
                </ion-row>
              </ion-col>

              <ion-col col-7>
                <ion-item class="orderlist-memo">
                  <p>{{order.memo}}</p>
                </ion-item>
              </ion-col>

              <ion-col col-3>
                <ion-row>
                  <ion-item class="orderlist-payment">
                    <p>{{order.paymentOptions+ " / " + order.paymentPlan}}</p>
                  </ion-item>
                </ion-row>
              </ion-col>
            </ion-row>            
          </ion-grid>
    </ion-item>
  
  </div>    

  <!-- BELOW IS A PRODUCE SECTION -->
  <div [hidden]="produceButtonFlag">
    <ion-grid>
      <ion-row>
          <ion-col col-3>
            <button ion-button float-right clear (click)="produceGoYesterday()">
              <ion-icon class="icon-md-datetime-left" name="arrow-back"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-5>
            <ion-item class="item-datetime-inner">
              <ion-datetime class="main-datetime-text" displayFormat="YYYY년  MM월  DD일" pickerFormat="YYYY MM DD" [(ngModel)]="displayProduceDate.ios8601"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-1>
            요일
          </ion-col>
          <ion-col col-3>
            <button ion-button float-left clear (click)="produceGoTomorrow()">
              <ion-icon class="icon-md-datetime-right" name="arrow-forward"></ion-icon>
            </button>
          </ion-col>
      </ion-row>
    </ion-grid>



    <ion-item *ngFor="let name of menus.name">
      <ion-col col-3>
        {{name}}
      </ion-col>
      <ion-col col-9>
        {{}]}
      </ion-col>
    </ion-item>

  </div>

</ion-content>
