page-trash-password {
 .numberCircle {
        margin:2px;
        width: calc((35/376)*100vw);
        height: calc((35/376)*100vw);
        line-height: calc((35/376)*100vw);
        text-align: center;
        font-size: 7vw;
        padding:0px;
        border:solid;
        //color:$default-color;
        //border: 2px solid #666;
    }

    .each-digit{
        font-size: 3.5vw;
    }

    .grid {
         padding: 0px; 
    }

    .extender {
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
    }

    .padder-center{
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}
