<ion-content>
  <ion-row>
    <ion-col text-right>
      <button ion-button clear color="black" style="font-size:4vw;" (click)="close()"><ion-icon large name="md-close"></ion-icon></button>
    </ion-col>
  </ion-row>
  <div showWhen="portrait">
    <div style="height:20vh;" text-center>
      <h1>관리자 비밀번호</h1>
    </div>
    <div text-center>
      <h3>비밀번호</h3>
    </div> 
     <ion-row>
        <ion-col col-4></ion-col>
        <ion-col text-center class="numberCircle" *ngFor="let digit of password" >
          {{digit}}
        </ion-col> 
        <ion-col col-4></ion-col>
     </ion-row>
  </div>

  <div>
    <div text-center>
      <h1>관리자페이지</h1>
    </div>
    <div text-center>
      <h3>비밀번호</h3>
    </div> 
     <ion-row>
        <ion-col col-4></ion-col>
        <ion-col text-center class="numberCircle" *ngFor="let digit of password" >
          {{digit}}
        </ion-col> 
        <ion-col col-4></ion-col>
     </ion-row>
  </div>

</ion-content>
<ion-footer>
 <ion-grid style="background-color:white;">
     <ion-row >
        <ion-col col-4 style="border-top:solid 1px #bdbdbd;" >
        <div class="extender">
          <div class="padder-center">
          <button ion-button  class="each-digit" clear (click)="buttonPressed(1)">1</button>
          </div>
        </div>
        </ion-col>
        <ion-col col-4 style="border-top:solid 1px #bdbdbd;
                              border-left-style:solid;
                              border-left-width: 1px;
                              border-right-style:solid;
                              border-right-width: 1px;
                              border-color:#bdbdbd;">
        <div class="extender">
          <div class="padder-center">
          <button ion-button class="each-digit" clear (click)="buttonPressed(2)">2</button>
          </div>
        </div>
        </ion-col>
        <ion-col col-4 style="border-top:solid 1px #bdbdbd;">
        <div class="extender">
          <div class="padder-center">
          <button ion-button class="each-digit" clear (click)="buttonPressed(3)">3</button>
          </div>
        </div>
        </ion-col>
     </ion-row>   

     <ion-row style="border-top-style: solid;border-top-width: 1px;border-color:#bdbdbd;">
        <ion-col col-4 >
        <div class="extender">
          <div class="padder-center">
          <button ion-button  class="each-digit" clear (click)="buttonPressed(4)">4</button>
          </div>
        </div>
        </ion-col>
        <ion-col col-4 style="border-left-style:solid;
                              border-left-width: 1px;
                              border-right-style:solid;
                              border-right-width: 1px;
                              border-color:#bdbdbd;">
        <div class="extender">
          <div class="padder-center">
          <button ion-button class="each-digit" clear (click)="buttonPressed(5)">5</button>
          </div>
        </div>
        </ion-col>
        <ion-col col-4 >
        <div class="extender">
          <div class="padder-center">
          <button ion-button class="each-digit" clear (click)="buttonPressed(6)">6</button>
          </div>
        </div>
        </ion-col>
     </ion-row>   
     <ion-row style="border-top-style: solid;border-top-width: 1px;border-color:#bdbdbd;">
        <ion-col col-4>
        <div class="extender">
          <div class="padder-center">
          <button ion-button class="each-digit" clear (click)="buttonPressed(7)">7</button>
          </div>
        </div>
        </ion-col>
        <ion-col col-4 style="border-left-style:solid;
                              border-left-width: 1px;
                              border-right-style:solid;
                              border-right-width: 1px;
                              border-color:#bdbdbd;">
        <div class="extender">
          <div class="padder-center">
          <button ion-button class="each-digit" clear (click)="buttonPressed(8)">8</button>
          </div>
        </div>
        </ion-col>
        <ion-col col-4>
        <div class="extender">
          <div class="padder-center">
          <button ion-button class="each-digit" clear (click)="buttonPressed(9)">9</button>
          </div>
        </div>
        </ion-col>
     </ion-row>   
     <ion-row style="border-top-style: solid;border-top-width: 1px;border-color:#bdbdbd;">
        <ion-col col-4>
        <div class="extender">
          <div class="padder-center">
          <button ion-button style="font-size:3.5vw;" clear (click)="buttonPressed(-10)">취소</button>
          </div>
        </div>
        </ion-col>
        <ion-col col-4 style="border-left-style:solid;
                              border-left-width: 1px;
                              border-right-style:solid;
                              border-right-width: 1px;
                              border-color:#bdbdbd;">
        <div class="extender">
          <div class="padder-center">
          <button ion-button class="each-digit" clear (click)="buttonPressed(0)">0</button>
          </div>
        </div>
        </ion-col>
        <ion-col col-4>
        <div class="extender">
          <div class="padder-center">
          <button ion-button class="each-digit" clear (click)="buttonPressed(-1)"><ion-icon  name="ios-backspace-outline"></ion-icon></button>
          </div>
        </div>
        </ion-col>
     </ion-row>   
     <ion-row>
     </ion-row>
  </ion-grid>  
</ion-footer>

